{
  "parser": "babel-eslint",
  "rules": {
    "indent": [2],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "no-console": [1],
    "no-underscore-dangle": [1]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": "airbnb",
  "ecmaFeatures": {
    "arrowFunctions": true,
    "jsx": true,
    "experimentalObjectRestSpread": true
  },
  "settings": {
    "import/resolve": {
    "extensions": [ ".es6", ".js", ".jsx" ]
    },
    "import/parser": "babel-eslint"
  },
  "plugins": [
    "react"
  ]
}
