* {
  margin: 0;
}
a {
  text-decoration: none;
}
.title-bar {
  text-align: center;
}
.title {
  font-family: 'Pacifico', cursive;
  width: 120px;
  /*margin: 10px 1rem 10px -3rem;*/
}
.loading {
  position: absolute;
  text-align: center;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  margin: auto;
}
.loading > img {
  width: 150px;
  margin-left: -75px;
}
.input-search {
  font-size: 1rem;
  height: 1.7rem;
  border-radius: 5px;
}
.nav {
  font-size: 1.2rem;
  margin: 5px;
  position: absolute;
  right: 0px;
}
.nav-btn {
  display: inline-block;
  border: 1px solid black;
  padding: 0 5px;
  border-radius: 5px;
  margin: 0 10px 0 10px;
  background-color: aquamarine;
}
.button {
  border-radius: 10px;
  background-color: aquamarine;
  border-color: aquamarine;
  font-size: 1.3rem;
  margin: 0 3px;
}
.thumbnailList {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  /*justify-content: space-around;*/
  align-content: stretch;
  margin-top: 30px;
}
.thumbnail {
  /*flex-grow: 1;*/
  margin: 5px 10px;
  text-align: right;
  vertical-align: text-bottom;
  border: 1px solid black;
  height: 150px;
  width: 150px;
  max-width: 160px;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.thumbnail-cover {
  position: relative;
  height: inherit;
  width: 100%;
  opacity: 0;
  font-size: 1.2rem;
}
.thumbnail-cover:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}
.thumbnail-img {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
}
.thumbnail-bar {
  position: absolute;
  right: 3px;
  bottom: 3px;
}
footer {
  text-align: center;
}
